build
pas3.log
REFx-rails-framework/log/pas3.log

REFx-rails-framework/log/development.log

REFx-rails-framework/log/production.log

REFx3.xcodeproj/project.xcworkspace/xcuserdata/pim.xcuserdatad/UserInterfaceState.xcuserstate

REFx3/.DS_Store

.DS_Store

REFx3.xcodeproj/project.xcworkspace/xcuserdata/shaman.xcuserdatad/UserInterfaceState.xcuserstate

REFx3.xcodeproj/xcuserdata/shaman.xcuserdatad/xcschemes/REFx3.dmg.xcscheme

REFx3.xcodeproj/xcuserdata/shaman.xcuserdatad/xcschemes/REFx3.xcscheme

REFx3.xcodeproj/xcuserdata/shaman.xcuserdatad/xcschemes/xcschememanagement.plist



*.swp
