<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>REFx4.dmg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>REFx4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E13D027144E0D3000523A5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC97C8C14488BDB00B81F47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2AF971583F62600CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2AF9E1583F6E800CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2AFBD1583F76200CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2AFCA1583F77100CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2AFF91583F9C300CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2B0131583FBDA00CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2B0171583FD2100CD035F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
